.chat
  .chat-header
    .chat-header__box
      .chat-header__box__name
        = @group.name
      %ul.chat-header__box__list
        Member：
        - @group.users.each do |user|
          = user.name
          
    %p= link_to 'Edit', edit_group_path(@group.id), class: "chat-header__edit-btn"

  .chat-main
    = render @messages

  .form
    = form_with model: [@group, @message], class: "form-updata",local: true do |f|
      .form-box
        .new-message
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
